body {
    background-color: lightblue;
  }
  #para1 {
    text-align: center;
    color: red;
  }
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #img1 {
        width: 100%;
        height: auto;
      }
    #img2 {
        width: 100%;
        height: auto;
      }
}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 768px) 
{
    #img1 {
        width: 100%;
        height: auto;
      }
    #img2 {
        width: 48%;
        height: auto;
      }
 }
@media only screen 
and (min-device-width : 769px) 
{
    #img1 {
        width: 100%;
        height: auto;
      }
    #img2 {
        width: 32.5%;
        height: auto;
      }
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}